body {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 4px;
    padding: 12px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px;
}

#imageContainer {
    text-align: center;
    margin: 20px;
    border-radius: 4px;
    padding: 12px;
}

#paletteContainer {
    text-align: center;
    margin: 20px;
    border-radius: 4px;
    padding: 12px;
}

.palette {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.color-block {
    width: 60px;
    height: 60px;
    position: relative;
}

.color-block span {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

footer {
  text-align: center;
  font-size: 16px;
}